# Port Aplikasi Backend
PORT=3000

# Database Connection (Prisma Neon PostgreSQL)
DATABASE_URL="postgresql://neondb_owner:your_password@ep-red-salad-azr0z3am-pooler.c-3.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://neondb_owner:your_password@ep-red-salad-azr0z3am.c-3.ap-southeast-1.aws.neon.tech/neondb?sslmode=require"

# Konfigurasi JWT Auth
JWT_SECRET="ganti_dengan_jwt_secret_yang_aman_12345"
JWT_EXPIRES_IN="1d"

# Konfigurasi Pusher Server
PUSHER_APP_ID="your_pusher_app_id"
PUSHER_KEY="your_pusher_key"
PUSHER_SECRET="your_pusher_secret"
PUSHER_CLUSTER="ap1"
